
.App {
  text-align: center;
  background-color: brown;

}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2px;
}


.movie {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 200px;
  text-align: left;
}

.carousel-item {
  text-align: center;
  padding: 10px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.overLayTitle{
  height: 300px;
  font-size: 12px;
}

.overLayReview{
  height: fit-content;
  
}

.card{
  margin: 1px;
  
}